.paginateUl{
    list-style:none;
    color:white;
    font-size: 70%;
}

.paginateUl  > li {
    width:5px;
    margin-top: 10px;
    display:inline;
    margin:1px;
   vertical-align: middle;
    text-align: center;  
}

.separator{
    color: #969696;
}

.paginateUl > li:first-child{
    color: #969696;
}
.paginateUl > li:last-child{
    color: #969696;
}


.paginateUl  > li:not([class^="separator"]):hover {
    border: 1px solid #FFF;
    border-radius: 3px;
    
   
}